@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  /* line-height: 1; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
main {
  overflow-x: hidden;
}
.orange-btn {
  background-color: #ff622d;
  color: #ffffff;
  padding: 18px 50px;
  border-radius: 7px;
}

/* navBar */
.container {
  background-color: #111317;
  color: #a1a6af;
  font-size: 14px;
  height: 50px;
  padding-left: 14px;
  padding-right: 14px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
.nav {
  display: flex;
  justify-content: space-between;

  max-width: 1170px !important;
  height: 50px;
  gap: 30px;

  /* margin-inline: auto; */
  margin: 0 auto;
  align-items: center;
  /* padding: 11px 11px;s */
  color: #a1a6af;
  /* overflow: hidden; */
}
.menu-mobile {
  display: none;
}

.nav-left-section {
  flex-grow: 1;

  display: flex;
  align-items: center;
  gap: 18px;

  justify-content: space-between;
}
.nav-sub-right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav-sub-right-section li {
  display: flex;
  text-align: center;
}
.nav-sub-right-section li:hover {
  color: #ffffff;
  cursor: pointer;
}
.resources-dropdown {
  position: absolute;
  left: calc(20% + 90px);
  display: flex;
  /* top: 55px; */
  /* justify-content: space-between; */
  gap: 20px;
  z-index: 10;
  background-color: hsl(220, 15%, 8%);
  padding: 10px 40px;
}
.resource-list-left {
  display: flex;
  flex-direction: column;
}
.resource-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 340px;
  margin-bottom: 30px;
}
.resource-list h3 {
  color: #fff;
}
.resource-list h3:hover {
  color: #ff622d;
  cursor: pointer;
}
.resource-list p {
  color: #a1a6af;
  font-size: 0.8rem;
}
.company-drop {
  left: calc(30% + 90px);
  z-index: 10;
  /* top: 55px; */
  width: 250px;
  position: absolute;
}
.company-drop-list {
  background-color: hsl(220, 15%, 8%);
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  gap: 20px;
  color: #fff;
  padding: 20px 40px;
}
.company-drop-list h3:hover {
  color: #ff622d;
  cursor: pointer;
}
.extra-drop {
  position: absolute;
  background-color: hsl(220, 15%, 8%);
  /* top: 55px; */
  width: 280px;
  left: calc(45% + 120px);
  z-index: 10;
}
.extra-drop-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  padding: 10px 40px;
}
.extra-drop-list h3 span {
  padding: 2px 4px;
  font-size: 0.5rem;
}
.extra-drop-list h3:hover {
  color: #ff622d;
}
.nav-right-section {
  display: flex;
  align-items: center;

  gap: 10px;
}
.nav-right-section li {
  display: flex;
}

.logo img {
  width: 154px;
}

.dropdown-menu-switch-language {
  position: absolute;
  top: 5%;
  white-space: nowrap;
  z-index: 100;
  font-size: 14px;
  /* left: auto; */
  padding: 20px 0 36px;
  font-size: 14px;
  left: auto;
  background-color: #111317;
  right: 293px;
}
.language {
  font-weight: 500;
  padding: 10px 40px;
  background: #0000;
  border: 0;
  color: #fff;
}
.login {
  border: 1px solid #ffffff;
  padding: 5px 12px;
  color: #ffffff;
  border-radius: 4px;
}
.signup {
  border: 1px solid black;
  padding: 5px 12px;

  background-color: #009f81;
  color: #ffffff;
  border-radius: 4px;
}

/* Main */

.first-section-container {
  /* overflow: hidden; */
  position: relative;
  background-color: #421983;
  height: 48rem;
  scrollbar: ;
}
.first-section {
  /* position: relative; */
  overflow: hidden;
}
.wrap-l {
  display: block;
}
.first-heading {
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  /* position: absolute; */
  top: 40%;
  margin: 0 auto;
  margin-top: 100px !important;
  margin: 0 auto;
  padding: 0 15px;
  padding: 20px;
}
.first-desc {
  margin-top: -25px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.first-desc h1 {
  margin: 0 0 0 18px;
  text-align: center;
  font-size: 32px;
  margin: 0 auto 10px;
}

/* .top-shapes {
  position: absolute;
  right: -20rem;
  top: -20rem;
} */
.first-desc p {
  text-indent: 38px !important;
  font-size: 1.4rem;
  text-align: center;
  font-size: 18px;
  padding: 12px 44px;
}
.search-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 365px;
}
.search-wrapper {
  width: inherit;
}
.search-input input {
  padding: 18px 20px;
  /* width: 400px; */
  width: 100%;
  font-size: 1rem;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  outline: none;
}
.search-btn {
  min-width: 196px !important;
  margin-top: 0 !important;
  text-align: center;
}
.companies {
  margin-top: 56px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.companies h3 {
  /* color: #898d9a; */

  display: block;
  font-size: 14px;
  line-height: 25px;
  opacity: 0.5;
  margin-bottom: 32px;
}

.company-names {
  /* position: absolute; */
  width: 910px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.6;
  gap: 59px;
  /* transition: 1; */
}

.company-names:active {
  /* left: 0; */
  transition: all 0.3s ease-out;
}
.features-tab {
  display: flex;
}
.second-heading {
  position: relative;
  /* padding-bottom: 90px; */
  /* top: 10rem; */
  padding: 114px 0 0px;
  z-index: 2;
}
.second-head-title h1 {
  color: #000;
  text-align: center;
  font-size: 28px;
  /* margin-bottom: 10px;  */
}
.feature-slider {
  background-color: #ffffff;
  max-width: 1190px;
  /* height: auto; */
  margin: 30px auto;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 18px rgba(137, 141, 154, 0.3);
  overflow: hidden;
  /* max-height: fit-content; */
  /* height: 600px; */

  position: relative;
  z-index: 10;
}
.features-tab {
  display: flex;
  justify-content: space-between;
  /* justify-items: center; */
  /* margin: 10px 50px; */
  /* gap: 15px; */
}
.feature {
  border-bottom: 5px solid #f6f7f8 !important;
  width: 180px;
  cursor: pointer;
}
.feature:active {
  border-bottom: 5px solid #421983 !important;
}
.feature:hover svg {
  fill: #421983;
  stroke: #421983;
}
.feature-active {
  border-bottom: 5px solid #421983 !important;
  color: #421983;
}
.feature-active svg {
  fill: #421983;
  stroke: #421983;
}
.item-center {
  text-align: center;
}
.second-head-title {
  padding: 10px;
  margin-bottom: 40px;
}

.feature-details-container {
  display: flex;
  z-index: -1;

  /* justify-content: space-between; */
  /* position: relative; */
  /* overflow: hidden; */
}
.seo-content {
  /* min-width: 1200px; */

  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  /* padding: 46px 0 1px 36px; */
  padding-left: 67px;
  padding-right: 12px;
  /* position: absolute; */

  /* z-index: 50; */
  /* display: none; */
}
.seo-left {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0px;
}
.seo-left h3 {
  font-size: 2rem;
}
.seo-list {
  list-style-type: initial !important;
  line-height: 2rem;
  margin-left: 30px;
}
.seo-btn {
  /* padding: 5px 10px !important; */
  width: fit-content;
  font-size: 18px;
  /* line-height: 22px; */
  min-height: 50px;
  height: 50px;
  /* width: auto; */
  padding: 0 20px !important;
  display: inline-flex;
  align-items: center;
}
.seo-right {
  max-width: 560px;
}
.content-marketing {
  display: flex;
  justify-content: space-between;
  padding: 85px 0 30px 37px;
  /* display: none; */
}

/* review-section */
.review-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  /* z-index: 2; */
  margin-top: 60px;
}

.review-section {
  width: 900px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  text-align: center;

  /* justify-content: center; */
}
.review-headline {
  z-index: 2;
}
.review-headline p {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
.review-user-img {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: 24px auto 12px;
}
.review-user-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.review-heading {
  font-weight: bold;
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.review-second-des {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
}
.review-source {
  display: block;
  color: #898d9a;
  font-size: 14px;
  line-height: 1.5;
}

.award-winning-container {
  margin: 0 auto;
  width: auto;
  padding: 0 15px;
}
.award-winning-heading {
  max-width: 15.6em;
  margin: 0 auto;
  font-size: 28px;
  text-align: center;
}
.award-footer-container {
  text-align: center;
}
.award-footer-item {
  margin: 40px auto 0;
  max-width: 345px;
}
/* .second-footer-number {
  line-height: 1.05;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-weight: bold;
} */
.second-footer-number {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.05;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  z-index: 1;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.award-footer-desc {
  font-size: 20px;
  margin: 0 auto;
}
.footer-heart::after {
  content: url("./assets/images/asset 28.svg");
  /* background:  */
  position: absolute;
  /* left: -2%;
   */
  height: 68px;
  width: 68px;
  top: -20px;
  right: -24px;
  animation: scale linear;
  animation-duration: 1s;
  animation-delay: 0.2 s;
  animation-timeline: view();

  z-index: -2;
}
.footer-hexagon::after {
  content: url("./assets/images/asset 29.svg");
  /* background:  */
  position: absolute;
  /* left: -2%;
   */
  height: 68px;
  width: 68px;
  /* top: -25px; */
  top: -20px;
  right: -24px;

  z-index: -2;
}
.footer-diamond::after {
  content: url("./assets/images/asset 30.svg");
  /* background:  */
  position: absolute;
  /* left: -2%;
   */
  height: 68px;
  width: 68px;
  top: -20px;
  right: -24px;

  z-index: -2;
}
.more-data {
  padding-top: 90px;
}
.right-more-data-wrapper {
  display: grid;

  grid-row-start: 1;
  gap: 12px;
  position: relative;
  padding-top: 76px;
  margin-bottom: 32px;
}
.right-more-data-wrapper::before {
  position: absolute;
  content: "";
  background: url("./assets/images/asset 31.svg") no-repeat top center;
  background-size: 292px 272px;

  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

  background-size: 292px 272px;
  z-index: -1;
}
.more-data-container {
  margin: 0 auto;
  padding: 0 15px;
  width: auto;
}
.more-data-wrapper {
  display: grid;
}

.right-more-data-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  gap: 10px;
  grid-row-start: 1;
  position: relative;
}

.more-data-heading {
  margin-bottom: 14px;
  text-align: left;
  font-size: 28px;
  line-height: 1.2;
  /* text-align: center; */
  font-size: bold;
}
.left-more-data p {
  margin-bottom: 25px;
}

.more-data-btn {
  color: #fff;
  background-color: #ff622d;
  display: inline-flex;
  border-radius: 5px;
  padding: 0 50px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.right-more-card {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(137, 141, 154, 0.3);
  border-radius: 10px;
}
.right-more-number {
  font-size: 20px;
  margin-bottom: 4px;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 4px;
}
.sub-para-right-more {
  font-size: 16px;
}
.ceo-img {
  width: 548px;
  height: 703px;
}
.ceo-list {
  position: relative;
  margin-top: 8px;
  padding-left: 30px;
}
.ceo-list::before {
  position: absolute;
  content: url("./assets/images/asset 32.svg");
  padding: 0 10px;
  left: -10px;
}
.ceo-image img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.ceo-container {
  padding-top: 50px;
}
.ceo-wrapper {
  position: relative;
  padding: 0 15px;
}
.left-ceo {
  position: relative;
  margin: 0 auto 24px;
  width: 270px;
  height: 347px;
}
.ceo-name {
  position: absolute;
  color: #fff;
  text-align: right;
  background-color: #b880ff;
  line-height: 1.5;
  right: 8px;
  top: 27%;
  font-size: 10px;
}
.right-ceo-heading h2 {
  text-align: left;
  margin-bottom: 8px;
  line-height: 1.2;
}
.ceo-right-desc {
  font-size: 22px;
}
.ceo-right-list {
  font-size: 18px;
  line-height: 1.5;
}
.ceo-right-btn {
  color: #fff;
  background-color: #ff622d;
  display: inline-flex;
  border-radius: 5px;
  padding: 0 50px;
  min-height: 50px;
  align-items: center;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
.ceo-first-name {
  color: #ffe84d;
  font-weight: bold;
}

.wrap-only {
  display: none;
}
.ceo-right-list {
  line-height: 1.5;
  margin: 23px 0;
}
.right-ceo-heading {
  margin-bottom: 21px;
}
.ceo-right-btn {
  width: 100%;
  justify-content: center;
}
.testimonials-container {
  margin: 0 auto;

  width: auto;
  padding: 0 15px;
}
.testimonials-heading {
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.2;
}
.testimonials-heading span {
  padding-left: 78px;
  position: relative;
}

@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.testimonials-heading span::before {
  display: inline-block;
  content: url("./assets/images/asset 33.svg");

  padding: 0 15px;
  left: 12px;
  top: 10px;
  position: absolute;
  animation: scale1 infinite;
  animation-duration: 1s;
  animation-delay: 0.9 s;
}
.testimonials {
  padding-top: 80px;
  overflow: hidden;
  --background-color: #c9edff;
}
.testimonial-tabs {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  overflow-x: auto;
}
.test-tab-btn {
  background-color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #d1d4db;
  line-height: 1.5;
  white-space: nowrap;
  margin: 8px 6px;
}
.testimonial-slider-index {
}
.testimonial-slides {
  display: flex;
  /* width: 54vw; */
  /* overflow: hidden; */
}

.testimonial-slider {
  background-color: #facfd6;
  border-radius: 16px;
  padding: 10px 0;
  margin: 0 auto;
}
.testimonials-container .testimonial-slider-control {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}
.testimonial-content {
  /* min-width: 900px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 100%;
  cursor: grab;
  padding: 10px 32px;
  /* margin-left: 41px; */
  /* text-align: center; */
}
.test-active {
  border-color: #421983;
  background-color: #421983;
  color: #fff;
}
.test-slide-wrapper {
  padding: 10px 20px;
  overflow: hidden;
}
.test-desc {
  text-align: center;
  font-weight: bold;
}
.test-image img {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 50%;
}
.test-image {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.wrapper-index-title {
  font-size: 24px;
  line-height: 31px;
}

.test-name {
  text-align: center;
}
.test-company {
  text-align: center;
}
.prev-btn {
  background: none;
  border: none;
}
.test-next-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.free-trail {
  margin-top: 168px;
  background-color: #421983;
  padding-top: 70px;
  padding-bottom: 74px;
  color: #fff;
  line-height: 1.5;
}
.free-trail-container {
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
  width: auto;
}

.wrapper-index-title {
  color: #fff;
}
.free-trail-btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ff622d;
  display: inline-flex;
  border-radius: 5px;
  padding: 0 80px;
  font-weight: 600;
  min-height: 40px;
  align-items: center;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}
.free-trail-text {
  font-size: 14px;
}
.wrap-sm {
  display: none;
}

.footer {
  background: #111317;
  color: #898d9a;
  padding-top: 25px;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.footer-container {
  max-width: 1100px;
  min-width: 320px;
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
}
.contact-btn {
  /* margin-top: 20px; */
  color: #898d9a;

  /* background-color: #ff622d; */
  display: inline-flex;

  border-radius: 6px;
  padding: 10px 30px 15px;
  font-weight: 400;
  min-height: 50px;
  align-items: center;

  border: 0.5px solid #898d9a;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;

  white-space: nowrap;
}
.get-start-btn {
  /* margin-top: 20px;
  background-color: #009f81;
  display: inline-flex;
  border-radius: 5px;
  padding: 0 60px;
  /* font-weight: 500; */
  /* min-height: 50px;
  align-items: center;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 16px; */
  color: #fff;

  background: #009f81;
  border-radius: 5px;

  font-size: 16px;
  height: 42px;
  line-height: 19px;
  padding: 10px 70px 12px;

  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;

  outline: none;

  position: relative;
  text-align: center;
  text-decoration: none;

  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.left-contact-us {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.address {
  /* margin-left: 30px; */
  font-size: 12px;
}
.see-our-plan {
  text-decoration: underline !important;
  color: #898d9a;
  text-align: center;
}
.right-contact-us {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
  margin-left: 16px;
}
.last-footer {
  margin-top: 15px;
}
.footer-list {
  display: flex;
  justify-content: space-between;
}
.foot-list {
  display: flex;
  flex-direction: column;
  color: #898d9a;
  font-size: 12px;
  gap: 10px;
}
.foot-list li:nth-child(1) {
  color: #fff;
}
.help {
  margin-top: 20px;
}
.lang-select {
  background: none;
  color: #fff;
  position: relative;
}
.lang-select option {
  position: absolute;
  background: #898d9a;
  padding: 20px 30px;
  width: 500px;
}

.copy-right {
  padding: 20px 0;
  background-color: #000;
  color: #898d9a;
}
.copyright-container {
  display: flex;
  align-items: center;
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  gap: 15px;
}
.footer-logo {
  width: 200px;
}
.copyright-text {
  font-size: 12px;
}
